{% extends 'base.html' %}

{% block content %}
<div class="container w-75 mt-3">
    <div class="text-container">
        <h1 class="mb-3"
            style="background-color: rgba(250, 228, 199, 0.8); border-radius: 30px; color: black; height: 100px; padding: 20px; max-width: 400px;">
            Домашня сторінка</h1>
    </div>
    <div class="row">
        {% for pet in pets %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card shadow-sm d-flex flex-column"
                 style="background-color: #fae4c7; color: black; height: 100%; font-size: 0.875rem;">
                <a href="{{ url_for('index') }}" style="display: block;">
                    <img class="card-img-top" src="{{ url_for('static', filename='dog2.jpg') }}" alt="Описание картинки"
                         style="width: 100%; height: auto; max-height: 200px; object-fit: cover;">
                </a>
                <div class="card-body d-flex flex-column" style="flex-grow: 1;">
                    <a href="{{ url_for('index') }}" style="text-decoration: none; color: black;">
                        <h4 class="card-title" style="margin-bottom: 0; font-size: 1rem;">{{ pet.name }}</h4>
                        <h6 class="card-title" style="margin-bottom: 0; font-size: 0.875rem;">02.09.2024 - 15:00</h6>
                        <p class="card-text"
                           style="overflow: hidden; text-overflow: ellipsis; white-space: normal; font-size: 0.75rem;">
                            {{ pet.description|truncate(50, True, '...') }}
                        </p>
                    </a>
                </div>
                <div class="card-footer mt-auto d-flex justify-content-between align-items-center">
<a href="{{ url_for('profile') }}" class="icon-link">
    <img src="{{ url_for('static', filename='heart_empty.jpg') }}" alt="Иконка" class="icon-img"> <span class="icon-text">0</span>
</a>
                    <div class="btn-group" role="group">
                        <a href="{{ url_for('edit_pet', pet_id=pet.id) }}" type="button" class="btn btn-sm"
                           style="background-color: transparent; color: #785b4b; border: 1px solid #785b4b; border-radius: 0.25rem 0 0 0.25rem; font-size: 0.75rem;"
                           onmouseover="this.style.backgroundColor='#785b4b'; this.style.color='white'; this.style.borderColor='#785b4b';"
                           onmouseout="this.style.backgroundColor='transparent'; this.style.color='#785b4b'; this.style.borderColor='#785b4b';">
                            Редагувати
                        </a>
                        <form action="{{ url_for('delete_pet', pet_id=pet.id) }}" method="post"
                              style="display: inline;">
                            <button type="submit" class="btn btn-sm"
                                    style="background-color: transparent; color: #785b4b; border: 1px solid #785b4b; border-radius: 0 0.25rem 0.25rem 0; font-size: 0.75rem;"
                                    onmouseover="this.style.backgroundColor='#785b4b'; this.style.color='white'; this.style.borderColor='#785b4b';"
                                    onmouseout="this.style.backgroundColor='transparent'; this.style.color='#785b4b'; this.style.borderColor='#785b4b';">
                                Видалити
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h3>Історій поки немає. Будь першим, напиши свою</h3>
        {% endfor %}
    </div>
</div>
<style>
    .icon-link {
        display: flex;
        align-items: center;
        text-decoration: none; /* Убираем подчеркивание */
        color: inherit; /* Отключаем стандартный синий цвет */
        font-size: 0.75rem;
    }

    .icon-link:visited, .icon-link:active, .icon-link:hover {
        text-decoration: none; /* Убираем подчеркивание для всех состояний */
        color: inherit; /* Сохраняем цвет неизменным при всех состояниях */
    }

    .icon-img {
        width: 1.25rem;
        height: 1.25rem;
        opacity: 0.7;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .icon-text {
        margin-left: 0.25rem;
        transition: margin-left 0.3s ease;
        color: inherit; /* Цвет текста не меняется */
    }

    .icon-link:hover .icon-img {
        opacity: 1;
        transform: scale(1.1);
    }

    .icon-link:hover .icon-text {
        margin-left: 0.5rem;
    }
</style>
{% endblock %}




