{% extends 'base.html' %}

{% block content %}
<div class="container w-75 mt-3">
    <h1 class="mb-3">Мої улюблені домашні тварини</h1>
    <div class="row">
        {% for pet in liked_pets %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card shadow-sm d-flex flex-column" style="background-color: #fae4c7; color: black; height: 100%;">
                <a href="{{ url_for('pet_detail', pet_id=pet.id) }}" style="display: block;">
                    <img class="card-img-top" src="{{ pet.image_url or url_for('static', filename='default_pet.jpg') }}" alt="Опис картинки" style="width: 100%; height: 200px; object-fit: cover;">
                </a>
                <div class="card-body d-flex flex-column" style="flex-grow: 1;">
                    <a href="{{ url_for('pet_detail', pet_id=pet.id) }}" style="text-decoration: none; color: black;">
                        <h4 class="card-title" style="margin-bottom: 0;">{{ pet.name }}</h4>
                        <h6 class="card-title" style="margin-bottom: 0;">{{ pet.age }} років</h6>
                        <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: normal;">
                            {{ pet.description|truncate(50, True, '...') }}
                        </p>
                    </a>
                </div>
                <div class="card-footer mt-auto d-flex justify-content-between align-items-center">
                    <form action="{{ url_for('like_pet', pet_id=pet.id) }}" method="post" style="margin: 0;">
                        <button type="submit" class="btn btn-sm" style="background-color: transparent; border: none; padding: 0;">
                            <img src="{{ url_for('static', filename='heart_filled.jpg') }}" alt="Liked" style="width: 21px; height: 21px;">
                            {{ pet.liked_by|length }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
            <h3>У вас немає улюблених домашніх тварин</h3>
        {% endfor %}
    </div>
</div>
{% endblock %}


