{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>

<form action="/login" method="post" style="max-width: 300px; margin: auto;">
    <div style="margin-bottom: 10px;">
        <label>Username</label>
        <input name="username" type="text" style="width: 100%; padding: 8px;">
    </div>

    <div style="margin-bottom: 10px;">
        <label>Password</label>
        <input name="password" type="password" style="width: 100%; padding: 8px;">
    </div>

    <div style="text-align: center;">
        <button type="submit" style="padding: 8px 20px; background-color: #007BFF; color: white; border: none;ппше">Login</button>
    </div>
</form>

{% endblock %}
