{% extends 'base.html' %}

{% block content %}
<div class="container w-25 mt-3" style="background-color: rgba(255, 255, 255, 0.8); border-radius: 30px; color: black; height: 280px;">
    <h1 style="color: black;">Login</h1>
    <form style="color: black;" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
        </p>
        <p>
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </p>
        <p>
            {{ form.submit(class="btn btn-primary mb-3") }}
        </p>
    </form>
</div>
<style>
    /* Изменение стилей для полей ввода */
    .form-control:focus {
        border-color: #6b5243; /* Цвет рамки при фокусе */
        box-shadow: 0 0 0 0.2rem rgba(107, 82, 67, 0.25); /* Цвет тени при фокусе */
        outline: none; /* Убираем стандартное обводку при фокусе */
    }

    /* Изменение стилей для кнопки при наведении */
    .btn-primary:hover {
        background-color: #6b5243; /* Цвет фона при наведении */
        border-color: #6b5243; /* Цвет рамки при наведении */
    }

    /* Изменение стилей для селект-поля и опций */
    .form-control {
        border-color: #6b5243; /* Цвет рамки по умолчанию */
        color: black; /* Цвет текста в поле */
        background-color: #ffffff; /* Цвет фона поля */
        appearance: none; /* Убирает стандартные стили браузера */
        -webkit-appearance: none; /* Для браузеров на базе Webkit */
        -moz-appearance: none; /* Для Firefox */
    }

    .form-control option {
        background-color: #ffffff; /* Цвет фона для опций в селекте */
        color: black; /* Цвет текста для опций в селекте */
    }

    .form-control::-ms-expand {
        display: none; /* Убираем стрелку в IE */
    }

    .custom-select-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .custom-select {
        display: inline-block;
        width: 100%;
        background-color: #ffffff;
        border: 1px solid #6b5243;
        border-radius: 0.25rem;
        color: black;
        padding: 0.5rem 1rem;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .custom-select:focus {
        border-color: #6b5243;
        box-shadow: 0 0 0 0.2rem rgba(107, 82, 67, 0.25);
    }
</style>
{% endblock %}

