{% extends 'base.html' %}

{% block content %}
<div class="container w-75 mt-3">
    {% if user_pets %}
    <h1 class="mb-3"
        style="background-color: rgba(250, 228, 199, 0.8); border-radius: 30px; color: black; height: 100px; padding: 20px; max-width: 350px;">
        Створені історії</h1>
    {% endif %}
    <div class="row">
        {% for pet in user_pets %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
            <div class="card shadow-sm d-flex flex-column"
                 style="background-color: #fae4c7; color: black; height: 100%; font-size: 0.875rem;">
                <a href="{{ url_for('profile_pet', pet_id=pet.id) }}" style="display: block;">
                    <img class="card-img-top" src="{{ url_for('static', filename='dog2.jpg') }}" alt="Описание картинки"
                         style="width: 100%; height: auto; max-height: 200px; object-fit: cover;">
                </a>
                <div class="card-body d-flex flex-column" style="flex-grow: 1;">
                    <a href="{{ url_for('index') }}" style="text-decoration: none; color: black;">
                        <h4 class="card-title" style="margin-bottom: 0; font-size: 1rem;">{{ pet.name }}</h4>
                        <h6 class="card-title" style="margin-bottom: 0; font-size: 0.875rem;">{{
                            pet.creation_date.strftime('%d.%m.%Y - %H:%M') }}</h6>
                        <p class="card-text"
                           style="overflow: hidden; text-overflow: ellipsis; white-space: normal; font-size: 0.75rem;">
                            {{ pet.description|truncate(50, True, '...') }}
                        </p>
                    </a>
                </div>
                <div class="card-footer mt-auto d-flex justify-content-between align-items-center">
                    <form action="{{ url_for('like_pet', pet_id=pet.id) }}" method="post" class="d-inline">
                        <button type="submit" class="icon-link" style="border: none; background: none;">
                            {% if current_user.id in pet.likers|map(attribute='id')|list %}
                            <img src="{{ url_for('static', filename='heart.jpg') }}" alt="Иконка" class="icon-img">
                            {% else %}
                            <img src="{{ url_for('static', filename='heart_empty.jpg') }}" alt="Иконка"
                                 class="icon-img">
                            {% endif %}
                            <span class="icon-text">{{ pet.likes }}</span>
                        </button>
                    </form>
                    <form action="{{ url_for('delete_pet', pet_id=pet.id) }}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-sm"
                                style="background-color: transparent; color: #785b4b; border: 1px solid #785b4b; border-radius: 0.5rem; font-size: 0.75rem; padding: 0.25rem 0.5rem;"
                                onmouseover="this.style.backgroundColor='#785b4b'; this.style.color='white'; this.style.borderColor='#785b4b';"
                                onmouseout="this.style.backgroundColor='transparent'; this.style.color='#785b4b'; this.style.borderColor='#785b4b';">
                            Видалити
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container w-25 mt-3"
             style="background-color: rgba(250, 228, 199, 0.8); border-radius: 30px; color: black; padding: 20px; min-width: 200px; min-height: 300px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <div style="position: relative; text-align: center;">
                <a href="{{ url_for('new_pet') }}"
                   style="position: absolute; left: 50%; transform: translateX(-50%); top: 100px;">
                    <img src="{{ url_for('static', filename='plus-2.jpg') }}" alt="Описание картинки" class="hover-img"
                         style="width: 50px; transition: transform 0.3s ease;">
                </a>
                <h3 style="margin: 0;">Історій поки немає. Будь ласка, створіть нову історію.</h3>
            </div>
        </div>

        {% endfor %}
    </div>
</div>
<style>
    .hover-img:hover {
        transform: scale(1.1);
    }

            .icon-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: inherit;
            font-size: 0.75rem;
        }

        .icon-link:visited, .icon-link:active, .icon-link:hover {
            text-decoration: none;
            color: inherit;
        }

        .icon-img {
            width: 1.25rem;
            height: 1.25rem;
            opacity: 0.9;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .icon-text {
            margin-left: 0.25rem;
            transition: margin-left 0.3s ease;
            color: inherit;
        }

        .icon-link:hover .icon-img {
            opacity: 1;
            transform: scale(1.1);
        }

        .icon-link:hover .icon-text {
            margin-left: 0.5rem;
        }
</style>
{% endblock %}











