                <form action="{{ url_for('like_comment', comment_id=comment.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-sm"
                            style="background-color: transparent; color: #785b4b; border: 1px solid #785b4b; border-radius: 0.5rem; font-size: 0.75rem; padding: 0.25rem 0.5rem;"
                            onmouseover="this.style.backgroundColor='#785b4b'; this.style.color='white'; this.style.borderColor='#785b4b';"
                            onmouseout="this.style.backgroundColor='transparent'; this.style.color='#785b4b'; this.style.borderColor='#785b4b';">
                        {% if current_user.id in comment.likers|map(attribute='id')|list %}
                        Unlike
                        {% else %}
                        Like
                        {% endif %}
                    </button>
                </form>